{
	"TargetName" : "KaboomEditor",
	"Platform" : "Win64",
	"Configuration" : "Development",
	"BuildId" : "4ac9cc54-d3e0-4361-9a7a-ce6c3e568864",
	"Version" : 
	{
		"MajorVersion" : 4,
		"MinorVersion" : 11,
		"PatchVersion" : 1,
		"Changelist" : 2934540,
		"IsLicenseeVersion" : 0,
		"BranchName" : "++UE4+Release-4.11"
	},
	"BuildProducts" :
	[
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-Kaboom.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-Kaboom.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-Kaboom.lib",
			"Type" : "ImportLibrary"
		}
	],
	"RuntimeDependencies" :
	[
	]
}